.App{
margin: 0;
padding: 0;
height: 100vh;
width: 105%;
background-image: url(/src/whatsapp.jpeg);
background-size:cover;


}
.con{
display: flex;
justify-content: right;
/* align-items: center; */
}
.con button{
  display: flex;
  border-radius: 10px;
  border: white;
  border-color: white;
  height: 35px;
  font-size: 19px;
  font-weight: 800;
  justify-content: right;
  align-items: right;
}
.con button:hover{
  background-color: yellow;
}
.nav{
  display: flex;
  color: yellow;
  background-color: black;
  height: 60px;
  align-items: center;

}

img{
width: 60px;
}

.nav a{
  display: inline-block;
  line-height: 40px;
  margin: 0 10px;
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
  color: yellow;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.text1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
input{
  display: flex;
  width: 35%;
  height: 35px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.get{
  display: flex;
  border-radius: 12px;
  border: none;
  border-radius: none;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 19px;
  font-weight: 800;

}
.close{
  display: flex;
  color: black;
  font-size: 17px;
  font-weight: 700;
  background-color: #f2f1ed;
}
.close1{
  height: 70vh;
  color: yellow;
  font-size: 17px;
  font-size: 17px;
  background-color: black
}
.t{
  font-size: 17px;
}
.j{
  display: flex;
  font-size: 15px;
  margin-left: 60%;
}
.twitter{
  margin-left: 60%;
}